.result-row {
  margin: 0.75em 1em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.95em;
  display: flex;
  align-items: baseline;
  gap: 0.5em;
  flex-wrap: wrap;
}

.result-row span {
  font-weight: 600;
  font-size: 1.15em;
  font-style: normal;
  color: var(--lightOrange);
}
