<h1>Kocie terytorium cz.1</h1>
<h2>Spraw, by kot był bezpieczny</h2>

<article>
  <div>
    <p>
      Koty, są zwierzętami terytorialnymi, więc by umilić im życie w mieszkaniu możemy powiększyć ich przestrzeń do
      życia
      o dodatkowe kilka kilkanascie metrów. Bez większych problemów możemy dotego wykorrzystać balkon, taras czy nawet
      większy parapet. Biorąc pod uwagę, że zdziczałe koty dziennie pokonują około<b>5.5km</b>, każdy dodatkowy metr dla
      naszego mruczka jest na wagę złota.
    </p>
  </div>
  <div>
    <p>
      Jednak by nasz kociak mógł spędzić czas na nowym terytorium obesrujac świat, "podgldając" życie ptaków czy
      wygrzewajac się na słońcu kusimy zapewnić mu <b>bezpieczeństwo</b>! Niestety to mit, że kot ma 9 żyć i że zawsze
      spada na cztery łapy. Musimy pamiętać o tym, że kot instytktownie może chcieć wskoczyć na siatkę próbując coś
      upolować czy
      szukać szczeliny by wybrać na emocjonującą wycieczkę bo okolicy. Niemniej konsekwencje takich przygód mogą być
      zakończyć się niestety tragicznie.
    </p>
    <p>
      Tutaj z pomocą przychodzi <b>siatka</b>, dzięki której można zabiepieczyć dodatkową przestrzeń. Jednak musimy
      pamiętać o kilku elementach, by spełniała swoją funkcje i chroniła naszego przyjaciela przed upadkiem z dużej
      wysokości czy przed "niekontrolowaną wycieczką".
    </p>
    <p>
  xs
    </p>
    <h3>Jakość ma znaczenie!</h3>
    <p>Ko</p>
  </div>
</article>
