<h1>Kocie terytorium cz.1</h1>
<h2>Spraw, by kot był bezpieczny</h2>

<article>
  <div>
    <p>
      Koty, są zwierzętami terytorialnymi, więc by umilić im życie w mieszkaniu możemy powiększyć ich przestrzeń do
      życia
      o dodatkowe kilka kilkanascie metrów. Bez większych problemów możemy dotego wykorrzystać balkon, taras czy nawet
      większy parapet. Biorąc pod uwagę, że zdziczałe koty dziennie pokonują około<b>5.5km</b>, każdy dodatkowy metr dla
      naszego mruczka jest na wagę złota.
    </p>
  </div>
  <div>
    <p>
      Jednak by nasz kociak mógł spędzić czas na nowym terytorium obesrujac świat, "podgldając" życie ptaków czy
      wygrzewajac się na słońcu kusimy zapewnić mu <b>bezpieczeństwo</b>! Tutaj z pomocą przychodzi siatka, którą można
      zabiepieczyć dodatkową przestrzeń. Jednak musimy pamiętać o kilku elementach, by siatka zabezpieczjaca spełniała
      swoją funkcje i chroniła naszego przyjaciela przed upadkiem z dużej wysokości czy przed "niekontrolowaną
      wycieczką".
    </p>
  </div>
  <div>
    <p>
      Musimy pamiętać,ze kot instytktownie może chcieć wskoczyć na siatkę, szukać szczeliny by wybrać na emocjonującą
      wycieczkę. Niemniej konsekwencje takich przygód mogą być
    </p>
    <h3>Jakość ma znaczenie!</h3>
    <p>Ko</p>
  </div>
</article>
