<h1>Kocie terytorium cz.1</h1>
<h2>Spraw, by kot był bezpieczny</h2>

<article>
  <div>
    <p>
      Koty, są zwierzętami terytorialnymi, więc by umilić im życie w mieszkaniu możemy powiększyć ich przestrzeń do
      życia o dodatkowe kilka / kilkanascie metrów kwatratowych. Bez większych problemów możemy do tego wykorzystać
      balkon, taras czy nawet
      większy parapet. Biorąc pod uwagę, że zdziczałe koty dziennie przemiszczają się po obszarze zbliżonym do niemal
      <b>6km</b>, każdy dodatkowy metr dla
      naszego mruczka jest na wagę złota.
    </p>
  </div>
  <div>
    <p>
    <p>
      Jednak by nasz kociak mógł spędzić czas na nowym terytorium obesrujac świat, "podgldając" życie ptaków czy
      wygrzewajac się na słońcu musimy zapewnić mu <b>bezpieczeństwo</b>! Niestety to mit, że kot ma 9 żyć, i że zawsze
      spada na cztery łapy. Musimy pamiętać o tym, że kot instytktownie może chcieć wskoczyć na siatkę próbując coś
      upolować czy szukać szczeliny by wybrać się na emocjonującą wycieczkę bo okolicy. Niemniej konsekwencje takich
      przygód mogą
      zakończyć się niestety tragicznie.
    </p>
    <p>
      Tutaj z pomocą przychodzi <b>siatka zabezpieczjąca</b>, dzięki której można zabiepieczyć dodatkową przestrzeń.
      Jednak musimy
      pamiętać o kilku elementach. by spełniała swoją funkcje i chroniła naszego przyjaciela przed upadkiem z dużej
      wysokości czy przed "niekontrolowaną wycieczką".
    </p>
    <ul>
      <li>Siatka powinna być specjalnie przeznaczona do tego celu. Z przecieciem zwykłej kot poradzi sobie w ułamku sekundy</li>
      <li>Powinna być zamontowana w sposób stabilny, solidny. Kot może wspinać się po niej więc wybrany sposób mocowania powinin być adekwatny do wielkości naszego puila.</li>
      <li></li>
    </ul>
  </div>
</article>
