.main-page-menu {
  padding-top: 5px;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  opacity: 100;
}

.main-page-menu a {
  display: inline-block;
  width: 30%;
  text-align: center;
  text-decoration: none;
  color: #c6c4c4;
  text-transform: uppercase;
}

.main-page-menu a img {
  filter: sepia(100%);
  width: 100%;
}

.main-page-menu a:hover img {
  animation: colorize 0.6s;
  animation-fill-mode: forwards;
}

.main-page-menu a:hover {
  animation: subtitle 0.6s;
  animation-fill-mode: forwards;
}

@keyframes colorize {
  0% {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
  }
  100% {
    -webkit-filter: sepia(0%);
    filter: sepia(0%);
    -webkit-box-shadow: 0 0 40px -14px rgba(255, 250, 216, 1);
    -moz-box-shadow: 0 0 40px -14px rgba(255, 250, 216, 1);
    box-shadow: 0 0 40px -14px rgba(255, 250, 216, 1);
  }
}

@keyframes subtitle {
  0% {
    color: var(--white);
    background: none;
    font-weight: normal;
  }
  100% {
    color: var(--lightOrange);
    background: #383838;
    font-weight: bold;
  }
}


@media only screen and (max-width: 700px) {
  .main-page-menu a{
    display: block;
    width: 90%;
    margin: auto;
  }
}

