<div class="welcome-header">
  <h1>Gustaw</h1>
  <h2>kocie rzeczy</h2>
</div>
<div class="main-page-menu">
  asdmalskcmklsqamclkasmckls
  <ul>
    <li><a routerLink="/kalkulator"><img src="assets/2.JPG" alt="Kalkulator"/><span>Kalkulator</span></a></li>
    <li><a routerLink="/blog"><img src="assets/3.JPG" alt="Do czytania"><span>Do poczytania</span></a></li>
    <li><a routerLink="/warto-wspierac"><img src="assets/4.JPG" alt="Warto wspierać"><span>Warto wspierać</span></a></li>
  </ul>
</div>
<div class="main-page-media">
  <a href="https://www.instagram.com/real_cat_gustaw/"><img src="assets/insta.ico" alt="insta"></a>
</div>
