.gustaw-article-link {
  display: block;
  width: 95%;
  text-decoration: none;
  margin: auto;
  border-bottom: 1px solid var(--base-color)
}

.gustaw-article-link img {
  display: inline-block;
  width: 100px;
}

.gustaw-article-link div {
  display: inline-block;
}
